.enquire-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
  }
  
  .image-container {
    flex: 1;
    position: relative;
    margin-right: 20px;
  }
  
  .enquire-image {
    width: 150%;
    border-radius: 10px;
    padding: 30px;
    margin-top: 30px;
  }
  
  .form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 500px;
  }
  
  .form-container h2 {
    margin-bottom: 20px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-container label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  
  .form-container input {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-container button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #eaff00;
    color: rgb(13, 13, 13);
    cursor: pointer;
    align-self: flex-end;
    width: 500px;
    border-color: rgb(12, 12, 12);
  }
  
  .form-container button:hover {
    background-color: #f8ec09;
  }